// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-tomorrow.css'
@import 'prism/plugins/line-numbers/prism-line-numbers.css'
// Check out "bower_components/prism/themes/" for available themes

.bespoke-slide aside
    display: none

pre, pre > code
    line-height: inherit !important

pre.line-numbers
    font-family: prestige elite std,consolas,courier new,monospace !important;

h2
    margin: 1em 0

em
    color: #728DA5

.citation
    margin-top: 1em
    font-style: italic

    &:before
        content: "- "
